<div id="customer_summary" style="display:none">

    <div class="col-md-12">
        <h4 class="pull-left bold black-color">Customer Summary</h4>
    </div>

    @Html.Hidden("RedirectTo", Url.Action("Edit_Sale", "Sale"));

    <div class="">

        <div class="col-md-12">


            <table class="black-color col-md-3 pull-left">
                <tr>
                    <th class="width-90 font-16">Name</th>
                    <td id="c_name"></td>
                </tr>
                <tr>
                    <th class="width-90 font-16">Phone</th>
                    <td id="c_phone"></td>
                </tr>

                <tr>
                    <th class="width-90 font-16">Email</th>
                    <td id="c_email"></td>
                </tr>
                <tr>
                    <th class="width-90 font-16">Type</th>
                    <td id="c_type"></td>
                </tr>
                <tr>
                    <th class="width-90 font-16">Notes</th>
                    <td id="c_notes"></td>
                </tr>
                <tr>
                    <th class="width-90 font-16">Credit Limit</th>
                    <td id="c_credit_limit"></td>
                </tr>

            </table>

            <div class="col-md-3">
                <label class="bold black-color font-16">Billing Address:</label><br />
                <p class="black-color" id="c_address"></p>
            </div>

            <div class="col-md-3 border_black text-center">
                <label class="bold red mt-5 font-16">Available Credit Balance</label><br />
                <label class="bold black-color font-16" id="c_balance"></label><br />
                @*<a href="#" data-toggle="modal" data-target="#" class="btn mb-10 blue-btn-style btn-primary btn-mini bold">View Payment Status</a>*@
            </div>

            <div class="col-md-3"></div>

        </div>



        <div class="col-md-12 mt-15">

            <div class="col-md-2 pull-left">
                <a data-target="#Edit_Customer_Modal" onclick="GetCustomer(-1)" data-toggle="modal" class="btn btn-primary btn-mini ml--20 blue-btn-style bold width-150">Edit Customer</a>
            </div>

            <div class="col-md-2 pull-left">
                <a href="" onclick="delete_customer(-1)" class="btn btn-primary btn-mini ml--20 blue-btn-style bold width-150">Delete Customer</a>
            </div>

            <div class="col-md-2 pull-left">
                <a href="#" class="btn btn-primary ml--20 btn-mini blue-btn-style bold">Set Custom Prices</a>
            </div>

            <div class="col-md-2 pull-left">
                <a href="~/Sale/New_Invoice" class="btn ml--20 btn-primary blue-btn-style btn-mini bold width-150">New Sale</a>
            </div>

            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">
            <p class="bold font-20 mt-30 black-color">Customer Invoices<small></small></p>
        </div>
        <div class="col-md-12" id="">
            <table border="0" class="table table-responsive border_black" id="customer_invoices_table">
                <thead>
                    <tr class="table-heading-fonts table-main-headings">
                        <th class="text-center">Order Id</th>
                        <th class="text-center">Payment Type</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Net</th>
                        <th class="text-center">VAT</th>
                        <th class="text-center">Gross</th>
                        <th class="text-center">Date</th>


                    </tr>
                </thead>
                <tbody class="black-color bold background_blue_selectedwith_cursor" id="invoice_by_customer_partial_view"></tbody>
            </table>
            <div class="clearfix"></div>
        </div>



        <div class="clearfix"></div>

        <div class="col-md-12">
            <p class="bold font-20 mt-30 black-color">Item History<small></small></p>
        </div>



        <div class="col-md-12">
            <table border="0" class="table table-responsive border_black" id="item_history_table">
                <thead>
                    <tr class="table-heading-fonts table-main-headings">
                        <th class="text-center">Date</th>
                        <th class="text-center">SKU</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Item Price</th>
                        <th class="text-center">VAT</th>
                        <th class="text-center">VAT+Item Price</th>


                    </tr>
                </thead>
                <tbody class="black-color bold background_blue_selectedwith_cursor" id="hhh"></tbody>

            </table>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>

    </div>
</div>


@*----------------------------POP UP for EXISTING CUSTOMER--------------------------------*@

<div class="modal fade" id="ExistingModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Message</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" />
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="win text-center">
                        <h3 class="color"><b>Find Customer</b></h3>

                        <div class="empty-height"></div><div class="empty-height"></div>



                        <div class="col-md-12" id="">
                            <table border="0" class="table table-responsive border_black" id="customer_summary_table">
                                <thead>
                                    <tr class="table-heading-fonts table-main-headings">
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Phone</th>
                                        <th class="text-center">Address</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Notes</th>
                                        <th class="text-center">Credit Limit</th>
                                        <th class="text-center">Balance</th>
                                    </tr>
                                </thead>

                                <tbody class="black-color bold">
                                    @foreach (var v in ViewBag.Customer)
                                    {
                                        <tr onclick="customer_summary_list(@v.Id,@v.Customer_Type_Id);">
                                            <td id="@String.Concat("customer_value_1", v.Id)" data-title="User ID">@v.Name</td>
                                            <td id="@String.Concat("customer_value_2", v.Id)" data-title="First Name">@v.phone</td>
                                            <td id="@String.Concat("customer_value_3", v.Id)" data-title="Last Name">@v.Billing_Address</td>
                                            <td id="@String.Concat("customer_value_4", v.Id)" data-title="Email" class="user-emails">@v.Email</td>
                                            <td id="@String.Concat("customer_value_5", v.Id)" data-title="Email" class="user-emails">@v.Notes</td>
                                            <td id="@String.Concat("customer_value_6", v.Id)" data-title="Email" class="user-emails">@v.Credit_Limit</td>
                                            <td id="@String.Concat("customer_value_7", v.Id)" data-title="Email" class="user-emails">@v.Balance</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
            <div class=""></div>

        </div>
    </div>
</div>

@*----------------------------POP UP END EXISTING CUSTOMER--------------------------------*@